# Ignoring the actions runner folder
actions-runner/

# Ignoring venv folders
venv/

# Ignoring rendered files
pipeline/setup/docker-compose.yml

# Ignoring python cache
pipeline/utils/__pycache__/

# Ignoring MacOS files
.DS_Store

# Ignoring package compilation folders
services/devopsproeu-bgp/load-dir/

# Ignoring test result files
services/devopsproeu-bgp/tests/*.html
services/devopsproeu-bgp/tests/*.xml
services/devopsproeu-bgp/tests/*.json

# Ignoring artifacts in the mounted volume pipeline/preconfigs
pipeline/preconfigs/*.tar.gz

# Ignoring test virtualenv
.venv

# Ignoring rendered files
docker-compose.yml
Dockerfile

# Ignoring compiled files from packages
packages/devopsproeu-bgp/load-dir/

# Ignoring the test results from packages
packages/devopsproeu-bgp/tests/log.html
packages/devopsproeu-bgp/tests/report.html
packages/devopsproeu-bgp/tests/output.xml
packages/devopsproeu-bgp/tests/devopsproeu-bgp.json